<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="9ef73c70-6d6c-4de8-bb3b-b44c760fd573"
            Publisher="CN=马"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>HttpCacheTestDemo</DisplayName>
    <PublisherDisplayName>马</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="HttpCacheTestDemo.App">
        <VisualElements
            DisplayName="HttpCacheTestDemo"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="HttpCacheTestDemo"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>